Carousel{
    height: 50%;
    display: flex;
    align-items: center;
}

CrouselItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    color: whte;
}